@import url('https://fonts.googleapis.com/css?family=Bangers|Luckiest+Guy|M+PLUS+1p|Passion+One&display=swap');

.bg{
  padding: 4%;
  width:960px;
  
}
#me{
  width:75%;
  border: 3px solid black;
}
body { 
  background: url('../imgs/background-01.png') no-repeat center center fixed; 
  font: 90%/180% "Trebuchet MS", Trebuchet, arial, sans-serif;
 
}
a:link { color: #d1ca9c;  padding: 3px; margin:2px; text-decoration:underline;}
a:visited { color: #d1ca9c;  padding: 3px; margin:2px; text-decoration:underline;}
a:hover { color: #d6bc1e;  padding: 3px; margin:2px;}
a:active { text-decoration: none; border:0;}

*.row{
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
}
*.hide {
  display: none;
}
#navBar{
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  font-family: 'Luckiest Guy', cursive;
  font-size: 2rem;
  color:#bba015;
  text-shadow: 2px 2px black;

}
#nav{
  background-color:#025d54;
  padding: 10px;  
  border: 3px solid black;
}
div.comicBorder{
  border: 3px solid black;
  background:#025d54;
  color:#e1dab0;
  /* font-family: 'M PLUS 1p', sans-serif; */
}
#logo{
  max-width:100%;
}
div.redBlock{
  border: none;
}
#iconbar{
  list-style: none;
  display: flex;
  flex-direction: row;
  
}
*.fab{
  font-size: 4rem;
}
#ProgramName{
  font-size: 2rem;
}
#portcontent img{
  width: 70%;
}
.right{
  text-align: right;
}
*.footer{
  justify-content: space-between;
}
*.greenLongBlock{
  height:100%;
}
#longBird{
  height: 40vh;
}